body{
    margin-left : 3rem ;

}

.chat{
    padding : 2rem ;
    border-radius: 1.5rem;
    display : inline-block ;
}

.msg{
    background-color: rgb(179, 218, 179);
    color : black ;
    padding : 1rem;
    border-radius: 10%;
}

