<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Create New posts</h1>
    <form method="POST" action="http://localhost:3000/posts" class="form">
        <input class="inp" type="text" name="username" placeholder="Username">
        <textarea row="10" col="5" class="text" name="content" placeholder="Write your post here..."></textarea>
        <button class="btn" type="submit">Submit</button>
    </form>
        
</body>
</html>