div{
    height : 200px ;
    width : 200px ;
    background-color: greenyellow;
    margin : 0 auto ;
    transition: margin-top 1s ease-in-out 0.1s;
}
div:hover{
    margin-top  : 400px ;
    border-radius: 50%;
    background-color: yellow;
}