<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is Home Page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde tenetur quod modi minus totam corporis deserunt nisi distinctio cum laborum reiciendis, explicabo asperiores reprehenderit aspernatur porro neque doloremque doloribus tempore.
    Hic, libero natus explicabo, ipsum fuga quos vitae fugit laborum incidunt omnis cum, beatae voluptatum dolores iure corrupti earum sed aut similique recusandae voluptatibus harum. Quia quos numquam nam maiores!
    Esse necessitatibus harum fugit laborum velit facilis minima labore magni? Eveniet omnis excepturi vel molestiae, odio doloribus accusamus aspernatur repellendus ut, repudiandae quas necessitatibus perspiciatis? Temporibus aspernatur dicta quam voluptatibus!</p>
    <button style="color : white ; background-color: blue;">Learn More</button>
</body>
</html>