<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice</title>
</head>
<body>
    <h1>Roll Dice</h1>
    <h2>Your Dice gave value : <%= diceval %> </h2>
    <% if(diceval==6){ %>
    <h2>Nice! roll again</h2>
    <% } %>
</body>
</html>