#container{
    height : 400px ;
    width : 400px ;
    background-color: white ;
    border : 2px solid lightseagreen ;
    border-radius: 10px ;
    margin : 10px auto ;
    display : flex ;
    align-items: center ;
    flex-wrap: wrap ;
    justify-content: space-evenly ;
}

#container div{
    height : 100px ;
    width : 100px ;
    background-color: grey ;
    border : 2px solid black ;
    border-radius: 10px ;
    text-align : center ;
    font-size : 50px ;
}