#container{
    height : 50px ;
    width  : 600px ;
    background-color : pink ;
    border : 2px solid black ;
    border-radius: 10px ;
    display : flex ;
    /* flex-wrap : wrap ; */
    justify-content: flex-start;
    align-items : center ;
}

#container div{
    height : 50px ;
    width : 80px ;
    font-size : 24px ;
    margin-left : 20px ;
    line-height: 50px ;
}